.popup {
  &__tooltip {
    display: none;
    position: absolute;
    top: 26px;
    right: 50%;
    border: 1px solid var(--super-light-color);
    padding: 12px;
    background-color: var(--secondary-color);
    opacity: .9;
    backdrop-filter: blur(1);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    &_visible {
      display: block;
    }
  }
}