@import "~src/styles/colors.less";

.last-commit {
  justify-self: flex-end;
  position: relative;
  cursor: pointer;
  transition: opacity .3s ease-in-out;

  &__content {
    font-weight: bold;
    font-size: 12px;

    &:hover {
      &:before {
        opacity: .7;
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 350px;
  }

  &__list-item {
    a {
      color: var(--super-light-color);
      text-decoration: none;
    }
  }

  &__list-item + &__list-item {
    margin-top: 12px;
  }

  &__commit {
    font-weight: bold;
  }

  &__repo {
    color: white;
  }

  &__github-link {
    margin-top: 24px;
    text-align: right;
    text-decoration: none;
  }

  &__summary {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }

  &__total {
    margin-left: 12px;
  }

  &__popup {
    text-wrap: normal;
    word-wrap: break-word;
  }
}